.canvas {
  /* Perfectly square */
  width: 1000px !important;
  height: 1000px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: solid;
}
body {
  background-color: #555;
}

.pixel {
  /* We'll need 64 total pixels in our HTML */
  width: 25px;
  height: 25px;
  background-color: antiquewhite;
  float: left;
  color: red;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.pellet {
  background-color: #1f0;
}

#scoreText {
  color: green;
  font-style: comic-sans;
  font-size: large;
  position: absolute;
  left: 50vw;
  top: 2vh;
}
